body{

}

.header1{
    display: flex;
    justify-content: center;
    
}

.header1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav{
    display: flex;
    justify-content: space-between;
}
